@use 'globals' as *;

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10%;
}

div.content-container {
    padding: 8%;
    h2 {
        font-weight: 400;
        background: linear-gradient(90.64deg, #A9D1FF 22.75%, #FFFFFF 100.29%);
        background: linear-gradient(90.64deg, #A9D1FF 22.75%, #FFFFFF 100.29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
    }
    h5 {
        margin-top: 10px;
    }
    a > img {
        &:hover {
            transform: scale(1.1);
            filter: brightness(0.9);
            transition: 1s;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        * {
            margin: 10px;
            border: none;
            font-family: 'Poppins', sans-serif;
        }

        button {
            @include main-font;
            background: linear-gradient(100.3deg, #A9D1FF 34.22%, #FEFEFF 100%);
            box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
            border-radius: 70px;
            width: 30%;
            min-width: 100px;
            text-align: center !important;
            padding: 10px 0;
            &:hover {
                cursor: pointer;
                filter: brightness(0.8);
            }
            &:active {
                filter: brightness(0.8);
            }
        }

        input {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 60%;
            padding: 10px 20px;
            text-align: center;
            &::placeholder {
                text-align: center;
            }
        }
    }

    a.archive {
        @include main-font;
        background: linear-gradient(100.3deg, #A9D1FF 34.22%, #FEFEFF 100%);
        box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
        border-radius: 70px;
        padding: 10px 20px;
        width: 40%;
        border: none;
        text-decoration: none;
        color: black;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }
}
div.image-carousel {
    position: relative;
    .images {
        position: relative;
        display: block;
        margin: 0 auto;
        img {
            width: 20vw;
            transition: 1s;
        }
        img.hidden {
            opacity: 0;
            display: block;
            margin: auto;
        }
        img.active {
            position: absolute;
            transform: translate(34%, -100%);
            z-index: 1;
        }
        img.left {
            filter: brightness(0.75);
            position: absolute;
            transform: translate(14%, -90%);
        }
        img.right {
            filter: brightness(0.75);
            position: absolute;
            transform: translate(54%, -90%);
        }
    }
    .indicators {
        position: relative;
        top: 4vw;
        display: flex;
        justify-content: center;
        .dot {
            height: 10px;
            width: 10px;
            background-color: gray;
            border-radius: 50%;
            display: inline-block;
            margin: 10px;
            &:hover {
                cursor: pointer;
                background-color: white;
            }
        }
        span.active {
            background-color: white !important;
        }
    }
}

div.text {
    text-align: center;
}
div.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20vw;
    }
}


@media (max-width: 640px) {
    .content {
        grid-template-columns: 1fr;
    }

    .newsletter {
        display: none !important;
    }
    div.images {
        img {
            width: 30vw !important;
        }
        img.active {
            position: absolute;
            // transform: translate(34%, -100%);
            // filter: brightness(0.75);
            transform: translate(62%, -100%) !important;
            z-index: 1;
        }
        img.left {
            filter: brightness(0.75);
            position: absolute;
            // transform: translate(24%, -90%);
            transform: translate(42%, -90%) !important;
        }
        img.right {
            filter: brightness(0.75);
            position: absolute;
            // transform: translate(44%, -90%);
            transform: translate(82%, -90%) !important;
        }
    }
    .indicators {
        top: 6vw !important;
    }
}
