@use 'globals' as *;


footer {
    margin-top: 10px;
    padding-bottom: 50px;

    .line {
        position: absolute;
        width: 90%;
        height: 0px;
        margin: 0 5%;
        border-bottom: 1px solid #9A9A9A;
    }

    .footer {
        display: flex;
    }

    .footer-container {
        // outline: 1px white solid;
        display: flex;
        width: 50%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    
        .socials-container img {
            margin: 0 10px;
        }
        h5 {
            margin-bottom: 20px;
        }
        h6 {
            color: #C0C0C0;
            margin: 0px;
            font-weight: 400;
    
        }
    }
    .copyright {
        position: absolute;
        left: 10px;
        color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        margin: 0;
    }
    .privacy-policy {
        position: absolute;
        right: 10px;
        color: rgba(255, 255, 255, 0.3);
        // padding: 10px;
        margin: 10px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 640px) {
    .copyright, .privacy-policy {
        font-size: 10px;
    }
}