@use 'globals' as *;

#landingpage-video {
    // position: absolute;
    // top: 0;
    z-index: -1;
    width: 100vw;
    filter: brightness(0.2);
    object-position: center;
}

div.message {
    color: white;
    // transform: scale(1.5);
    width: 100vw;
    text-align: center;
    // padding-top: 100px;
    position: absolute;
    top: 10vw;
    transform: translateY(50%);
    h1, p {
        font-weight: 700;
    }
    h1 > span {
        color: $accent-1;
    }
}


.logo {
    position: absolute;
    top: 3%;
    left: 40px;
    z-index: 1;
}